 
 
 <div id="layoutSidenav" >
    <div id="layoutSidenav_content">
               
                <div  id="area" style="overflow-y: auto;">
                    <div class="input-group mt-1">
                         <form id="basic-form" class="mr-1" action="/reportemes/servicios_mes/" method="POST">
                        <div class="input-group">
                            <input type="month"  id="mes" name="date" value="{{regresar}}" style="display: none;" required > 
                        
                            <div class="input-group-append mostrar">
                                <input type="submit" value="Regresar" class="btn btn-danger border-dark" style="width:100px;" >
                            </div>
                        </div>
                    
                        </form> 
                    <a id="imprimir"  class="btn btn-secondary mostrar">Imprimir</a>
                    </div>
                    {{!-- <a href="/reportemes/accidentes_mes/" class="btn btn-danger mostrar">Regresar</a> --}}
                   
                    
                    <style>
                    table,td,th, thead, tbody, .table{
                    border: 2px solid black;
                    }

                    .table thead th{ 
                    border: 2px solid black;
                    }
                    .table .thead-dark th{
                    border: 2px solid black;
                    }

 .flex-container{
        display: flex;
        padding-top: 5px;
        margin-left: 5px;
        flex-direction: row;
        flex-wrap: wrap;
      
    }


    .flex-container div{
      margin-right: 100px;
     
    }
                </style>

                <div class="container table-responsive break">
                    <br>
                    <h5 align= "center">BENEMERITO CUERPO VOLUNTARIO DE BOMBEROS DE GUATEMALA <br>
                    94 COMPAÑÍA  MUNICIPIO  <br>
                    ESTADISTICA DE {{Tipo}} <br>
                        CORRESPONDIENTES A LA FECHA DE  {{date}}
                                </h5>
                                <h3></h3><BR>
                                <br>
                                {{#each encabezado}}
                                <b>Fecha:</b>
                            <span>{{fecha}}</span>
                                <br>
                                <b>Unidad de Servicio:</b>
                            <span>{{TipoAmbulancia}}</span> a cargo de {{Nombres}} {{Apellidos}}
                                <br>
                                {{!-- <b>Lugar:</b>
                                <span>{{lugar}}</span>
                                <br>
                                <div class=" form-group row">
                                    <b>Descripción </b>
                                 <textarea   rows="2" class="form-control mt-0 " style="font-size: 10pt; resize: none; border:none"  placeholder="">{{descripcion}}</textarea>  
                                </div> --}}
                                
                                <br>
                                {{/each}}
                    <h5 align= "center">Detalle</h5>

                    <table class="table bg-white "  border="1"    >
                          <thead class="text-center">
                                 <tr  bgcolor="#00B9E8" >
                                    
                                    <th> #</th>
                                 
                                    <th>Lugar</th>
                                    <th> Solicitante </th>
                                    <th> Descripcion</th>
                                   
                                </tr>
                                </thead>
                                {{#each detalle}}
                                <tr >
                                    <td width="25" >{{ind @index}}</td>
                                    
                                    <th>{{lugar }}</th>
                                    <th>{{ Solicitante }}</th>
                                    <th>{{ descripcion }}</th>
                                   
                                </tr>
                                {{/each}}
                            </table>
                            <br>
                          
                        </tfoot>
                    </table>
                            <br>
                            <br>
                        <div class="flex-container " style="margin-left:20%">
                            <div>
                              <input type="text" value="FIRMA JEFE DE CIA" style="text-align:center; border-left:none; border-right:none; border-bottom:none">  
                            </div>
                             <div style="margin-left:10%;">
                                <input type="text" value="FIRMA SECRETARIO" style="text-align:center; border-left:none; border-right:none; border-bottom:none">  
                                
                            </div>
                        </div>
                </div>
                </div>
             </div> 
            </div>     
<script>
    $(document).ready(function () {
        var height = $(window).height();
        console.log("heigh:", height);
        $('#area').height(height - 130);
    })
   
    $('#imprimir').click(() => {
        $('.mostrar').hide();
        var contentImprimir = $('#area').html();
        $('body').html(contentImprimir);
        $('.break').css('page-break-inside', 'avoid');
        window.print();
        window.location.reload()
        return false
    })
</script>